@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.logo {
  cursor: pointer;
}

.auth-form button {
  cursor: pointer;
  background-color: rgb(98, 55, 37);
}

.auth-form button:hover {
  opacity: 80%;
}

.auth-form input:focus {
  opacity: 60%;
}

.registration-intro,
.login-intro {
  font-size: smaller;
  cursor: pointer;
}

.plans-container {
  display: grid;
  gap: 20px;
  padding: 40px;
  margin: auto;
}

.course-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-form input,
.course-form select,
.course-form button {
  padding: 10px;
}

#new-lesson-btn {
  width: 40%;
  cursor: pointer;
}

.course-form textarea {
  padding: 30px;
}

#create-course-btn {
  background-color: rgb(142, 238, 101);
  cursor: pointer;
}

#create-course-btn:hover {
  opacity: 80%;
}

footer {
  text-align: center;
  padding-top: 50px;
}

#navbarSupportedContent .nav-link {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .course-video {
    width: 80%;
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .auth-container p {
    font-size: large;
    font-weight: bold;
  }

  .plans-container {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  .plan-table {
    padding: 20px;
  }

  /* over riding default BS table size*/
  .table {
    width: 60%;
  }
}
